
/*hide spin box on input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
 .not-input{
    outline: none;
    background-color: transparent;
    border: 0px solid;
 }
.alert, .alert-danger{
    background-color: inherit; 
    border-color: inherit;
    border: none;
}
  