<div class="overlay">
	<div class="popup">
		<h2>Resetowanie hasła</h2>
		<a class="close" (click)="closeModal()">&times;</a>
		<div class="content">
        <form class="form-group" [formGroup]="resetPswdForm">
			<div [ngClass]="{'has-error':!resetPswdForm.controls['email'].valid && resetPswdForm.controls['email'].touched}">
				<label for="email" class="sr-only">Adres email *</label>
				<input #email type="email" id="email" class="form-control" placeholder="Adres email"  autofocus="sd"
				[formControl]="resetPswdForm.controls['email']"
				>
				<!-- <div class="alert alert-danger" *ngIf="!resetPswdForm.controls['email'].valid && resetPswdForm.controls['email'].touched">Email jest wymagany</div> -->
				<div class="alert alert-warning" *ngIf="resetPswdForm.controls['email'].errors">Email musi być w formacie jan.kowalski@gmail.com</div>
				
			</div>
			<button class="btn btn-md btn-primary btn-block" type="submit" 
			(click)="resetPassword($event, email.value)" [disabled]="!resetPswdForm.controls['email'].valid">Reset</button>
          </form> 
		</div>
	</div>
</div>
